body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

    body, html {
      height: 100%;
      line-height: 1.8;
    }

    /* Full height image header */
    .bgimg-1 {
      background-position: center;
      background-size: cover;
      background-image: url("slide-2.jpg");    
      min-height: 100%;
    }
    /* logo */
    .logo{
      width: 250px;
      height: 90px;
    }

    /* Full height image header */
     .bgimg-2 {
      background-position: center;
      background-size: cover;
      background-image: url("slide-1.jpg");    
      min-height: 100%;
    }

    /* Full height image header */
     .bgimg-3 {
      background-position: center;
      background-size: cover;
      background-image: url("slide-3.jpg");    
      min-height: 100%;
    }

    .w3-bar .w3-button {
      color: #333;
      padding: 16px;
    }

    .w3-bar .w3-bar-item{
      padding:8px 16px;
      float:left;
      width:auto;
      border:none;
      display:block;
      outline:0
    }
    .slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide {
    width: 100%;
    height: 500px; /* Adjust the height as needed */
    display: none;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio while covering the container */
}


/*Below carousel*/



 
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        

        .circle-background {
            width: 140px;
            height: 140px;
            background-color: #888;
            border-radius: 50%;
            margin: 0 auto 15px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .circle-text {
            text-align: center;
        }

        .circle-text img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 50%;
        }

        .card {
            border: none;
            text-align: center;
            background-color: #f9f9f9; /* Card background color */
            padding: 20px;
            border-radius: 15px;
            transition: transform 0.3s; /* Add transition for hover effect */
        }

        .card:hover {
            transform: scale(1.05); /* Scale up when hovered */
        }

        .card-animation {
            animation: fade-in 5s;
        }

        .centered-line {
            width: 75%;
            margin: 0 auto;
            height: 2px;
            background-color: #333; /* Line color */
            margin-top: 5rem; /* Spacing from the top row */
        }

        @keyframes fade-in {
            from {
                opacity: 0;
            }
            to {
                opacity: 2;
            }
        }

        @media (max-width: 768px) { /* Adjust styles for screens smaller than 768px */
          .card h2 {
              font-size: 18px;
          }
      
          .card p {
              font-size: 14px;
          }
      
          /* Add more styles as needed */
      }
      

/*container marketing */
.container-marketing{

  border-radius: 50px;
background: #8ca4ab;
box-shadow:  20px 20px 60px #778b91,
             -20px -20px 60px #a1bdc5;

}
.row{
  display: flex;
}

                                                                          /*adjust the "row rounded edge" */



/*Featurette1/3 */
.featurette .content {
  padding: 60px 100px 0 100px;
}

.featurette .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: #37517e;
}

.featurette .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.featurette .content p {
  font-size: 15px;
  color: #848484;
}

.featurette .img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.featurette .accordion-list {
  padding: 0 100px 60px 100px;
}

.featurette .accordion-list ul {
  padding: 0;
  list-style: none;
}

.featurette .accordion-list li+li {
  margin-top: 15px;
}

.featurette .accordion-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.featurette .accordion-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 30px;
  outline: none;
  cursor: pointer;
}

.featurette .accordion-list span {
  color: #47b2e4;
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}

.featurette .accordion-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.featurette .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.featurette .accordion-list .icon-show {
  display: none;
}

.featurette .accordion-list a.collapsed {
  color: #343a40;
}

.featurette .accordion-list a.collapsed:hover {
  color: #47b2e4;
}

.featurette .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.featurette .accordion-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1024px) {

  .featurette .content,
  .featurette .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .featurette .img {
    min-height: 400px;
  }

  .featurette .content {
    padding-top: 30px;
  }

  .featurette .accordion-list {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .featurette .img {
    min-height: 200px;
  }
}
 

/*Featurette2*/
.featurette2 .content h3 {
  font-weight: 700;
  font-size: 32px;
  color: #37517e;
  font-family: "Poppins", sans-serif;
}

.featurette2 .content ul {
  list-style: none;
  padding: 0;
}

.featurette2 .content ul li {
  padding-bottom: 10px;
}

.featurette2 .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #47b2e4;
}

.featurette2 .content p:last-child {
  margin-bottom: 0;
}

.featurette2 .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.featurette2 .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #37517e;
}

.featurette2 .progress .skill .val {
  float: right;
  font-style: normal;
}

.featurette2 .progress-bar-wrap {
  background: #e8edf5;
  height: 10px;
}

.featurette2 .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #37517e;
}

.col-lg-5{
 background-image: url("slide-2.jpg");  
}

.footer-1{
   background: #e8edf5;
    padding: 50px 0 80px;
}
.footer-1 h5 {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px
}


.h5{
    font-size: 50px;
    line-height: 30px;
  }

.justify-content-between {
    justify-content: space-between!important
}

.col-contacts{
   flex: 0 0 auto;
        width: 41.66666667%
}

.footer-address-list li i {
    margin: 0 15px 0 0;
    display: initial;
    font-size: 21px
}

.footer-address-list li p {
    font-weight: 600;
    font-size: 18px;
    font-family: Poppins,sans-serif;
    line-height: 15px
}

.footer-address-list li p span {
    display: flex;
    font-weight: 400;
    font-size: 15px;
    font-family: open sans,sans-serif
}

.footer-address-list li>span {
    position: relative;
    top: 5px
}

.footer-address-list li {
    color: #6a6a8e;
    display: flex;
    padding: 0 0 5px
}

.footer-address-list li:last-child {
    padding: 0
}

.footer-address-list li a {
    color: #6a6a8e;
    font-family: open sans,sans-serif;
    font-size: 16px;
    line-height: 24px
}

.footer-address-list li i {
    margin: 0 15px 0 0;
    display: initial;
    font-size: 21px
}

.ftr-details li {
    padding: 0 0 15px
}

/*about_us.html*/
.background_1_about{
  background-image: url("slide-2.jpg");  
}


 